<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67291468603-dhn4t2ug5a8001tgq2772eeflt8e1kb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67291468603-dhn4t2ug5a8001tgq2772eeflt8e1kb3</string>
	<key>API_KEY</key>
	<string>AIzaSyD_fURLvr0wMO7o783oP_Hz0Wb0XogPfBI</string>
	<key>GCM_SENDER_ID</key>
	<string>67291468603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yefimchukv.TypoChats</string>
	<key>PROJECT_ID</key>
	<string>typochats</string>
	<key>STORAGE_BUCKET</key>
	<string>typochats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67291468603:ios:c377534a1d21e136819d1e</string>
</dict>
</plist>